<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Всем ремонт</a>
        <ul class="nav">
            <li><a href="/ads">Объявления</a></li>
            <li><a href="/news">Новости</a></li>
            <li><a href="/articles">Статьи</a></li>
            <li><a href="/firms">Фирмы</a></li>
        </ul>
    </div>
</div>
