<div class="main_menu">
    <div class="menu_item"><a href="/ads">Объявления</a></div>
    <div class="menu_item"><a href="/news">Новости</a></div>
    <div class="menu_item"><a href="/articles">Статьи</a></div>
    <div class="menu_item"><a href="/firms">Фирмы</a></div>
</div>
